section {
	margin-top: 50px;	
	padding: 0px;
}

footer {
	background-color: #CDCDC1;
	padding: 2px;
}

html > body > section > .container > .row > #banner {
	margin: 0;
	padding: 0;
	width: 100%;
}

.banner {
	width: 100% !important;
	min-height: 250px !important;
}

.autor {
	width: 175px;
	height: 175px;
	min-width: 125px;
	min-height: 125px;
	margin: 0 auto;
}

.post-img {
	margin: 0 auto;
}